<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
<form action="/admin/item/new" method="post">

<select th:field="{isSoldout}" class="custom-select">
        <option value="SELL">판매중</option>
        <option value="SOLD_OUT">품절</option>
</select>

<label for="seller">판매자</label>
<input type="text" name="seller" id="seller">

<label for="itemName">상품 이름</label>
<input type="text" name="itemName" id="itemName">

<label for="itemText">상품 설명</label>
<input type="text" name="itemText" id="itemText">

<label for="itemPrice">가격</label>
<input type="text" name="itemPrice" id="itemPrice">

<label for="stock">재고</label>
<input type="text" name="stock" id="stock">

<label for="itemImage">상품 사진</lbel>
<input type="file" name="itemImage" id="itemImage">

</form>
<button class="w-100 btn btn-primary btn-lg mb-3" type="submit">회원 등록</button>
</body>
</html>